
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Lorena Mesa personal website.">
    <meta name="author" content="Lorena Mesa">
    <link rel="icon" href="/static/img/favicon2.ico">

    <title>Lorena Mesa</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/jumbotron-narrow.css" rel="stylesheet">
    <!-- My custom styles for this template -->
    <link href="/static/css/custom.css" rel="stylesheet">

{#    <meta name="viewport" content="width=360px, initial-scale=0.5" />#}

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container">
    <div class="header">
        <nav>
          <ul class="navbar-default list-inline pull-right"> <!--nav navbar-fixed-top nav-tabs pull-right">-->
            <li role="presentation" class="active"><a href="#">Projects</a></li>
            <li role="presentation"><a href="#">Musings</a></li>
          </ul>
        </nav>
{#        <h3 class="text-muted">Project name</h3>#}
      </div>
    <div class="container cover">
      <div class="jumbotron">
        <h1>Lorena Mesa</h1>
        <p class="lead"> Political analyst turned professional coder Lorena is the type of person known to ask many questions, both big and small. Relentlessly
            curious and always hungry to learn Lorena spends her free time teaching (and gaming!) in the community at large. Girl Develop It instructor,
            Dev Bootcamp guide, and Adler Planetarium STEM mentor Lorena is a fervent believer in diversifying tech by creating accessible beginner friendly
            educational opportunities for women and other underrepresented groups. Most days you can find Lorena coding with Sprout Social's Platform Engineering team.</p>
{#        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>#}
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h2>Some topics of interest:</h2>
          <p>Coding. Mortal Kombat. Attack on Titan. General geek chic.
              <a href="https://www.youtube.com/watch?v=5_vVGPy4-rc">Carl Sagan's thoughts on apple pie</a>. Gold Chocobos. Making women focused tech events.</p>
        </div>
        <ul class="list-inline col-lg-6">
            <li><a href="https://twitter.com/loooorenanicole"><img src="/static/img/twitter-8745215053.png"></a></li>
            <li><a href="http://www.linkedin.com/in/lorenamesa"><img src="/static/img/linkedin-8743712408.png"></a></li>
            <li><a href="mailto:me@lorenamesa.com"><img src="/static/img/gmail-8743514776.png"></a></li>
        </ul>
{#        <div class="col-lg-6">#}
{#            {% block content %} {% endblock %}#}
{#        </div>#}
      </div>

      <footer class="footer">
        <p>Background photo "<a href="https://www.flickr.com/photos/prodiffusion/8543871309">Street ART</a>" by <a href="https://www.flickr.com/photos/prodiffusion/">prodiffusion</a> is licensed under <a href="http://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a></p>
      </footer>
    </div>
    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/static/js/ie10-viewport-bug-workaround.js"></script>
  </div>
  </body>
</html>

